<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <qr-code value="https://www.npmjs.com/package/ng-qrcode" size="40"></qr-code>

  <h1>
    ng-qrcode demo
  </h1>

  <span style="flex: 1 1 auto"></span>

  <a href="https://github.com/mnahkies/ng-qrcode" rel="noreferrer" target="_blank">
    <img alt="GitHub stars" height="20px" src="https://img.shields.io/github/stars/mnahkies/ng-qrcode.svg">
  </a>

  <a href="https://www.npmjs.com/package/ng-qrcode" rel="noreferrer" target="_blank">
    <img alt="npm" height="20px" src="https://img.shields.io/npm/v/ng-qrcode.svg">
  </a>
</div>

<div class="container">
  <div class="body">

    <h3>Inputs:</h3>
    <form ngForm>
      <label for="value">Value</label>
      <input id="value" name="value" [(ngModel)]="value"/>

      <label for="size">Size</label>
      <input id="size" name="size" [(ngModel)]="size"/>

      <label for="errorCorrectionLevel">Error Correction Level</label>
      <select id="errorCorrectionLevel" name="errorCorrectionLevel" [(ngModel)]="errorCorrectionLevel">
        <option *ngFor="let value of errorCorrectionLevels" [value]="value">{{value}}</option>
      </select>

      <label for="showImage">Show Image in Center?</label>
      <select id="showImage" name="showImage" [(ngModel)]="showImage">
        <option value="no">no</option>
        <option value="yes">yes</option>
      </select>

      <label for="centerImageSize">Center Image Size</label>
      <input id="centerImageSize" name="centerImageSize" [(ngModel)]="centerImageSize"/>

      <label for="margin">Margin</label>
      <input id="margin" name="margin" [(ngModel)]="margin"/>

    </form>

    <h3>Usage:</h3>
    <pre [innerText]="example">
  </pre>

    <h3>Result:</h3>
    <div class="container">
      <qr-code [value]="value"
               [size]="size"
               [errorCorrectionLevel]="errorCorrectionLevel"
               [centerImageSrc]="centerImageSrc"
               [centerImageSize]="centerImageSize ? this.centerImageSize : undefined"
               [margin]="margin">
      </qr-code>
    </div>

  </div>
</div>
